<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group">
        <label for="name">Nom : </label>
        <input type="text" id="name" name="name" class="form-control" required ngModel>
      </div>
      <div class="form-group">
        <label for="forename">Prénom : </label>
        <input type="text" id="forename" name="forename" class="form-control" required ngModel>
      </div>
      <div class="form-group">
        <label for="email">Email : </label>
        <input type="email" id="email" name="email" class="form-control" required ngModel>
      </div>
      <div class="form-group">
        <label for="password">password : </label>
        <input type="password" id="password" name="password" class="form-control" required ngModel>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Enregistrer</button>
    </form>
  </div>
</div>
